.quote {

  text-align: center;
}
.quote-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  position: relative;
  margin-bottom: 0;
  width: fit-content;
  margin-inline: auto;
}
.quote-title::after {
  content: "";
  background-color:  #74642f;
  position: absolute;
  bottom: -16px;
  left: 43%;
  width: 50px;
  height: 3px;
}
.discreption-quote {
  display: block;
  font-size: 1.6em;
  padding: 40px 0;
  color: #777;
  line-height: 2;
}
.auther-quote {
  font-family: "Prata", Georgia, serif;
  font-size: 1.4em;
  color: #777;
}
