.cart {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-block: 30px;
}
.icon-text {
  display: flex;
  align-items: start;
  gap: 7px;
  color: var(--text-color);
}
.cart .text-p {
  margin: 0;
}
.cart .bar-cart {
  width: 25%;
  border-radius: 20px;
  box-shadow: 0 6px 16px #0000004d;
  padding: 20px;
}
.cart .bar-cart .total {
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  margin-block: 20px;
}
.cart .bar-cart .total b{
    color: #2f2f2f;
}
.btn-cart-total{
    background-color: var(--text-color) !important;
  width: fit-content !important;
  color: #fff !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  transition: 0.3s !important;
}
.carts {
  width: 60%;
}
.cart-book {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 6px 16px #0000004d;
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.cart-book-img {
  width: 200px;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
}


.cart-book-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c2c2c;
}

.cart-book-author {
  color: #666;
  font-size: 0.95rem;
}

.cart-book-price-box {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.cart-book-price {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
}

.cart-book-price b,
.cart-book-offer b,
.cart-book-sale b,
.cart-book-disc b,
.cart-book-quantity b {
  color: #2f2f2f;
}
.cart-book-offer,
.cart-book-sale,
.cart-book-quantity,
.cart-book-disc {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0;
}
.cart-book-quantity{
    margin-top: 0;
}
.delete-btn {
  background-color: var(--text-color) !important;
  width: fit-content !important;
  color: #fff !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  position: absolute !important;
  right: 20px;
  bottom: 20px;

  transition: 0.3s !important;
}

.delete-btn:hover , .btn-cart-total:hover{
  background-color: transparent !important;
  color: var(--text-color) !important;
  border: 1px solid #2f2f2f !important;
}


/* Not Found */
.not{
  text-align: center;
  padding-block: 90px;
}
.image-not-found{
  background-color: #fff;
  padding: 10px;
  width: fit-content;
}

/* Medai */
@media (max-width: 991px) {
    .cart {
  flex-direction: column;
}
.carts , .cart .bar-cart{
  width: 90%;
}
.cart-book {
    flex-direction: column;
        gap: 20px;
}
.image-not-found{
  
  width: 362px;
}

}